

.App {
  text-align: center;
 font-family: monospace;
 background-color: #2D3746;
}


.App-header {
  background-color: #2D3746;
  display: flex;
  height: 10rem;
}


.logo {
height: 10rem;
width: 11rem;;
margin-left: 1rem;
}

h2 {
  border-bottom-color: #f3f3f3;;
  border-bottom-width: 0.2rem;
  border-bottom-style: solid ;
  border-top-color: #f3f3f3;;
  border-top-width: 0.2rem;
  border-top-style: solid;
  margin: 3rem;
  padding: 1rem;
  color: #f3f3f3
}
.search {
  background: url('../../../assets/cheers.jpg');
  padding: 2rem;
  margin: 2rem;
  color: #f3f3f3;;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h3 {
  background-color:#f3f3f3;;
  opacity: .8;
  color: black;
  width: 18rem;
}

.input {
  width: 5rem;
}

.home-page {
  border-color: #f3f3f3;;
    border-style: solid;
    border-width: 1rem;
}

@keyframes spinner {
   
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  width: 50px;
  height: 50px; 
  border: 10px solid #383636; 
  border-top: 10px solid #f3f3f3;
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

.spinner-container {
  display: flex;
  justify-content: center;
  margin-top: 30% ;
}

.error {
  display: flex;
  justify-content: center;
}