/* body {
  font-family: serif;
  font-display: ;
} */

.App {
  text-align: center;
 font-family: monospace;
  /* font-family: 'Courier New', Courier, monospace; */
}


.App-header {
  background-color: #69758c;
  display: flex;
  height: 10rem;
}


.logo {
height: 10rem;
width: 11rem;;
margin-left: 1rem;
}

h2 {
  border-bottom-color: #69758c;
  border-bottom-width: 0.2rem;
  border-bottom-style: solid ;
  border-top-color: #69758c;
  border-top-width: 0.2rem;
  border-top-style: solid;
  margin: 3rem;
  padding: 1rem;
}
.search {
  background: url('../../../assets/cheers.jpg');
  padding: 2rem;
  margin: 2rem;
  color: white;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h3 {
  background-color: white;
  opacity: .8;
  color: black;
  width: 18rem;
}

.input {
  width: 5rem;
}

@keyframes spinner {
   
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {

  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #383636; /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

.spinner-container {
  display: flex;
  justify-content: center;
  margin-top: 30% ;
}

