.cocktail {
    border: 1rem solid;
   border-color: #f3f3f3;
    margin: 2rem;
    height: 41rem;
}

.cocktail-image {
    width: 12rem;
    height: 16rem;
    margin: 1rem;
}

.cocktail-details {
    background-color: #2D3746;
    padding-bottom: 1rem;
    padding-top: 1rem;
    color: #f3f3f3;
}
button {
    background-color: #f3f3f3;
    width: 12rem;
    height: 2rem;
    color: black
}

p {
    font-size: .8rem;
}

