@keyframes spinner {
   
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .loading-spinner {
 
    width: 50px;
    height: 50px;
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #383636; /* Black */
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
  }

  .spinner-container {
    display: flex;
    justify-content: center;
    margin-top: 30% ;
  }

  .rating{
    display : flex;
  }
  
  .rating input{
    position : absolute;
    left: -100vw;
  }
  
  .rating label{
    width      : 48px;
    height     : 48px;
    padding    : 48px 0 0;
    overflow   : hidden;
    background : url('../../../assets/stars.svg') no-repeat top left;
  }
  .rating:not(:hover) input:indeterminate + label,
.rating:not(:hover) input:checked ~ input + label,
.rating input:hover ~ input + label{
  background-position : -48px 0;
}

.rating:not(:hover) input:focus-visible + label{
  background-position : -96px 0;
}



.cocktail-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    border: 1rem solid;
    border-color: #69758c;;
}

.recipe-directions {
    display: flex
}

.recipe, .directions {
    display: flex;
    flex-wrap: wrap;
    background-color: #69758c;
    height: 15rem;
    margin: 2rem;
    align-content: center;
    padding: 2rem;
    width: 13rem;
    justify-content: center;
    border-radius: 2rem;
}

.drink-name {
    border-bottom-color: #69758c;
    border-bottom-width: 0.2rem;
    border-bottom-style: solid ;
    border-top-color: #69758c;
    border-top-width: 0.2rem;
    border-top-style: solid;
    margin: 3rem;
    padding: 1rem;
}